<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test Suite" parallel="tests" thread-count="2">
    <test name="Students Test">
        <classes>
            <class name="GetStudentsTest"></class>
        </classes>
    </test>
</suite>
